<h2>Now I'm reading...</h2>
<div class="background"></div>
<div class="recentBooks">
    <ul>
        {{#each readingBooks}}
            <li>{{this.title}} {{this.author}}</li>
        {{/each}}
    </ul>
</div>