<div class="wrapper">
        <div class="background__left"></div>
        <div class="recentBooks">
            <div class="recentBooks__title">
                <h2 class="recentBooks__title__reading">Now I'm reading...</h2>
            </div>
            <div class="recentBooks__books">
                {{#each readingBooks}}
                    <div class="recentBooks__books__book">
                        <p class="recentBooks__books__book__line book__year">{{this.year)}}</p>
                        <p class="recentBooks__books__book__line book__title">{{this.title}}</p>
                        <p class="recentBooks__books__book__line book__author">{{this.author}}</p>
                        <p class="recentBooks__books__book__line book__cover">cover: {{this.cover}}</p>
                    </div>
                {{/each}}
            </div>
        </div>
</div>