<div class="wrapper">
        <div class="background"></div>
        <div class="recentBooks">
            <div>
                <h2 class="reading">Now I'm reading...</h2>
            </div>
            <div>
                {{#each readingBooks}}
                    <div>
                        <p>{{this.title}}</p>
                        <p>{{this.author}}</p>
                    </div>
                {{/each}}
            </div>
        </div>
</div>