<h2>You can add a new book here</h2>
<form action="">
    <label for="">
        Title
        <input type="text">
    </label>
    <label for="author">
        Author
        <input id="author" type="text">
    </label>
    <label for="">
        Year
        <input type="number">
    </label>
    <label for="">
        Cover
        <input type="text">
    </label>

    <input type="submit" value="Add">
</form>