<h2>You can add a new book here</h2>
<form action="">
    <label for="">
        Title
        <input type="text">
    </label>
    <label for="">
        Author
        <input type="text">
    </label>
    <label for="">
        Year
        <input type="date">
    </label>
    <input type="submit" value="Add">
</form>