<h2>You can add a new book here</h2>
<form action="/add" method="POST">
    <div>
        <label for="title">
            Title
            <input id="title" type="text">
        </label>
    </div>
    <div>
        <label for="author">
            Author
            <input id="author" type="text">
        </label>
    </div>
    <div>
        <label for="year">
            Year
            <input id="year" type="number">
        </label>
    </div>
    <div>
        <label for="cover">
            Cover
            <input id="cover" type="radio" name="cover" value="hard">Hard
            <input id="cover" type="radio" name="cover" value="soft">Soft
        </label>
    </div>
    <div>
        <label for="isReading">
            Is reading
            <input id="isReading" type="checkbox">
        </label>
    </div>

    <input type="submit" value="Add">
</form>