<div class="add_books_wraper">
    <div class="books_background">
        <div class="books_photo"></div>
        <div class="books_cover"></div>
    </div>
    <div class="add_form">
        <h2 class="add_title">You can add a new book here</h2>
        <form action="/book" method="POST" class="book_Form">
            <div>
                <label for="title">
                    Title
                    <input id="title" name="title" type="text">
                </label>
            </div>
            <div>
                <label for="author">
                    Author
                    <input id="author" name="author" type="text">
                </label>
            </div>
            <div>
                <label for="year">
                    Year
                    <input id="year" name="year" type="number">
                </label>
            </div>
            <div>
                <label for="cover">
                    Cover
                    <input id="cover" type="radio" name="cover" value="hard">Hard
                    <input id="cover" type="radio" name="cover" value="soft">Soft
                </label>
            </div>
            <div>
                <label for="isReading">
                    Is reading
                    <input id="isReading" name="isReading" type="checkbox">
                </label>
            </div>

            <input type="submit" value="Add">
        </form>
    </div>
</div>
