<div class="add_books_wraper">
    <div class="add_form">
        <h2 class="add_title">You can add a new book here</h2>
        <form action="/book" method="POST" class="book_Form">
            <div class="form_line">
                <label for="title" class="form_label">
                    Title
                    <input id="title" class="form_input" name="title" type="text">
                </label>
            </div>
            <div class="form_line">
                <label for="author" class="form_label">
                    Author
                    <input id="author" class="form_input" name="author" type="text">
                </label>
            </div>
            <div class="form_line">
                <label for="year" class="form_label">
                    Year
                    <input id="year" class="form_input" name="year" type="number">
                </label>
            </div>
            <div class="form_line">
                <label for="cover" class="form_label radiobuttons">
                    Cover
                    <input id="cover" class="radio_input" type="radio" name="cover" value="hard"><span class="radio_text">Hard</span>
                    <input id="cover" class="radio_input" type="radio" name="cover" value="soft"><span class="radio_text">Soft</span>
                </label>
            </div>
            <div class="form_line">
                <label for="isReading" class="form_label">
                    Is being read
                    <input id="isReading" class="checkbox_input" name="isReading" type="checkbox">
                </label>
            </div>

            <input class="add_button" type="submit" value="Add">
        </form>
    </div>
</div>
