<div class="edit_wrapper">
    <div class="edit_form_wrapper">
        <h2 class="edit_title">Type change book data</h2>
        <form action="/book/{{book.id}}?_method=PATCH" method="POST" class="edit_form">
            <div>
                <label for="title">
                    Title
                    <input id="title" name="title" type="text" value="{{book.title}}">
                </label>
            </div>
            <div>
                <label for="author">
                    Author
                    <input id="author" name="author" type="text" value="{{book.author}}">
                </label>
            </div>
            <div>
                <label for="year">
                    Year
                    <input id="year" name="year" type="number" value="{{book.year}}">
                </label>
            </div>
            <div>
                <label for="cover">
                    Cover
                    <input id="cover" type="radio" name="cover" value="hard" {{#if (checkHard book)}}checked{{/if}}>Hard
                    <input id="cover" type="radio" name="cover" value="soft" {{#if (checkSoft book)}}checked{{/if}}>Soft
                </label>
            </div>
            <div>
                <label for="isReading">
                    Is reading
                    <input id="isReading" name="isReading" type="checkbox" {{#if (checkRead book)}}checked{{/if}}>
                </label>
            </div>

            <input type="submit" value="Save">
        </form>
    </div>
</div>