<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My_Books</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/styles/style.css">
</head>
<body>
<nav class="menu">
    <div class="title">
        <h1>My library</h1>
    </div>
    <div class="menuList">
        <ul class="menuList__links">
            <li class="menuList__item"><a href="/" class="menuList_link">Main</a></li>
            <li class="menuList__item"><a href="/books" class="menuList_link">My books</a></li>
            <li class="menuList__item"><a href="/book" class="menuList_link">Add book</a></li>
        </ul>
    </div>
</nav>
{{{body}}}
    
</body>
</html>